<nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
  
  <div>
    <button style="font-size:20px;" *ngIf="isAuthenticated" (click)="oktaAuth.signOut()"  class = "btn btn-dark">Logout</button>
  </div>
  <ul class = "navbar-nav" *ngIf="isAuthenticated">

    <li class = "nav-item">
      <a style="font-size:20px;" routerLink = "home" routerLinkActive = "active" class = "nav-link">View Artists</a>
    </li>

    <li class = "nav-item">
      <a style="font-size:20px;" routerLink = "create-artist" routerLinkActive = "active" class = "nav-link">Add Artist</a>
    </li>

    <li class = "nav-item">
      <a style="font-size:20px;" routerLink = "songs" routerLinkActive = "active" class = "nav-link">All Songs</a>
    </li>

    <li class = "nav-item">
      <a style="font-size:20px;" routerLink = "create-song" routerLinkActive = "active" class = "nav-link">Add Song</a>
    </li>
  </ul>
</nav>
<br>
<div *ngIf="isAuthenticated && !userName"><button class = "btn btn-link" onClick="window.location.href=window.location.href">Show profile info</button></div>
<div *ngIf="isAuthenticated && userName"><p>
                                            <br><b> &nbsp; First name: </b> {{ firstName }}
                                            <br><b> &nbsp; Last name: </b> {{ lastName }}
                                            <br><b> &nbsp; Username: </b> {{ userName }}
                                            <br><b> &nbsp; Zone info: </b> {{ zoneInfo }}
                                            <br>
                                          </p>
                                      </div>

<h1 class="text-center"> Find your Lyrics! </h1>

<div class="container"  *ngIf="!isAuthenticated">
  <h1 class="text-center">
    Please, log in to enter the website! :)
  </h1>
  <div class="text-center">
    <button style="font-size:20px;" (click)="oktaAuth.signInWithRedirect()"  class = "btn btn-dark">Login</button>
  </div>
</div>

<div class = "container" >
  <!-- components -->
  <router-outlet></router-outlet>
</div>
<br>
<br>
<br>
<footer class = "footer">
  <div class = "container2">
    <span>Max Bogatyrov. COMP 586. Fall 2020</span>
  </div>
</footer>