<h2>Artists</h2>
<table class = "table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Country</th>
            <th>Genre</th>
            <th>Songs</th>
            <th *ngIf="isAuthenticated">Actions</th>
            <th *ngIf="!isAuthenticated"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let artist of artists">
            <td> {{ artist.artistName }}</td>
            <td> {{ artist.country }}</td>
            <td> {{ artist.genre }}</td>
            <td><button (click) = "artistDetails(artist.id)" class = "btn btn-success">View</button></td>
            <td *ngIf="isAuthenticated">
                <button (click) = "updateArtist(artist.id)" class = "btn btn-info" style = "margin-left: -30px">Edit</button>
                <button (click) = "deleteArtist(artist.id)" class = "btn btn-danger" style = "margin-left: 15px">Delete</button>
            </td>
            <td *ngIf="!isAuthenticated">
            </td>
        </tr>
    </tbody>
</table>