<h2>Artists</h2>
<table class = "table">
    <thead>
        <tr>
            <th>Artist ID</th>
            <th>Artist</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let artist of artists">
            <td> {{ artist.id }}</td>
            <td> {{ artist.name }}</td>
            <td>
                <button (click) = "artistDetails(artist.id)" class = "btn btn-success">View</button>
                <button (click) = "updateArtist(artist.id)" class = "btn btn-info" style = "margin-left: 15px">Edit</button>
                <button (click) = "deleteArtist(artist.id)" class = "btn btn-danger" style = "margin-left: 15px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>