<h2>Songs</h2>
<table class = "table">
    <thead>
        <tr>
            <th>Songs</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Year</th>
            <th></th>
            <th *ngIf="isAuthenticated">Actions</th>
            <th *ngIf="!isAuthenticated"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let song of songs">
            <td> {{ song.songName }}</td>
            <td> {{ song.artistName }}</td>
            <td> {{ song.album }}</td>
            <td> {{ song.year }}</td>
            <td>
                <button (click) = "songLyrics(song.song_id)" class = "btn btn-success">Lyrics</button>
            </td>
            <td *ngIf="isAuthenticated">
                <button (click) = "deleteSong(song.song_id)" class = "btn btn-danger">Delete</button>
            </td>
            <td *ngIf="!isAuthenticated">
            </td>
        </tr>

    </tbody>
</table>